* {
  outline: none !important;
}

html {
  font-size: 10px;
}

body {
  font-family: Montserrat;
  margin: 0;
}

section {
  margin: 0 20px;
}

h2 {
  font-size: 3.5rem;
  color: $clr-5;
  @media screen and (min-width: $scr-des) {
    font-size: 5.5rem;
  }
}

h3 {
  font-size: 2.4rem;
  color: $clr-5;
  margin: 0;
  @media screen and (min-width: $scr-des) {
    font-size: 4rem;
  }
}

h4 {
  font-size: 1.6rem;
  color: $clr-5;
  @media screen and (min-width: $scr-des) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.6rem;
  color: $clr-5;
  @media screen and (min-width: $scr-des){
    font-size: 2rem;
  }
}

.edge-margin {
  margin-right: 20px;
  margin-left: 20px;
}

.active {
  display: block;
}

.hide {
  display: none;
}

