.product__title {
  text-align: center;
  margin: 31px auto auto;
  max-width: 1000px;
  @media screen and (min-width: $scr-des){
    margin: 65px auto auto;
  }
}

.product__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  height: 92.5vw;
  margin-top: 57px;
  margin-bottom: 15px;
  max-height: 579px;
  @media screen and (min-width: $scr-des) {
    margin-bottom: 20px;
  }
}

.product__image {
  z-index: -1;
  width: 142%;
  max-width: 861px;
}

.product__shopping-bag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $clr-3;
  box-shadow: 0 20px 59px -10px rgba(0, 0, 0, 0.15);
  border-radius: 80px;
  bottom: 7%;
  right: 0;
  width: 80px;
  height: 80px;
  @media screen and (min-width: $scr-des){
    display: none;
  }
}

.product__description {
  background-color: $clr-3;
  text-align: center;
  border-radius: 10px;
  padding: 52px 20px 58px 20px;
  width: calc(100vw - 40px);
  margin-left: -20px;

  @media screen and (min-width: 768px) {
    width: auto;
    margin-left: 0;
    padding: 58px 20px 66px 20px;
  }
}

.product__description-title {
  max-width: 763px;
  margin: auto;
}

.product__description-content {
  line-height: 25px;
  margin: 25px auto auto;
  max-width: 711px;
  @media screen and (min-width: $scr-des){
    margin: 39px auto auto;
    line-height: 32px;
  }
}
