.product__title {
  text-align: center;
  margin-top: 31px;
}

.product__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  height: 92.5vw;
  margin-top: 57px;
  margin-bottom: 15px;
  max-height: 605px;
}

.product__image {
  width: 142%;
}

.product__shopping-bag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $clr-3;
  box-shadow: 0 20px 59px -10px rgba(0, 0, 0, 0.15);
  border-radius: 80px;
  bottom: 7%;
  right: 0;
  width: 80px;
  height: 80px;
}

.product__description {
  background-color: $clr-3;
  text-align: center;
  border-radius: 10px;
  padding: 52px 20px 58px 20px;
  width: calc(100vw - 40px);
  margin-left: -20px;
}

.product__description-content {
  line-height: 25px;
  margin-top: 25px;
}
