.calculator {
  margin: 63px 20px;
  text-align: center;
  @media screen and (min-width: $scr-des) {
    margin: 110px 0 60px;
  }
}

.calculator__description {
  margin-bottom: 44px;
}

.calculator__content {
  margin-top: 30px;
  @media screen and (min-width: $scr-des) {
    margin-top: 45px;
  }
}

.calculator__value {
  display: inline-block;
  background-color: $clr-2;
  border-radius: 10px;
  @media screen and (min-width: $scr-des) {
    margin-top: 45px;
    width: 491px;
  }
}

.calculator__value--first {
  @media screen and (min-width: $scr-des) {
    margin: 45px 28px 0 0;
  }
}

.calculator__value-title {
  margin: 40px 20px 50px 20px;
  max-width: 359px;
  @media screen and (min-width: $scr-des) {
    margin: 36px auto 38px auto;
    line-height: 30px;
  }
}

.calculator__value-input {
  width: 225px;
  height: 70px;
  border: 1px solid $clr-5;
  border-radius: 15px;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 38px;
  @media screen and (min-width: $scr-des) {
    font-size: 2rem;
  }
}

.calculator__value-input--highlight {
  border: 1px solid $clr-3;
}

.calculator__result {
  display: inline-block;
  background: $clr-5;
  margin-top: 20px;
  width: 100%;
  border-radius: 15px;
  max-width: 1010px;
  @media screen and (min-width: $scr-des) {
    display: flex;
    align-items: baseline;
    place-content: center;
    margin: 40px auto;
    padding: 10px 0;
  }
}

.calculator__result-description-first {
  color: $clr-1;
  margin-top: 40px;
}

.calculator__result-description-second {
  color: $clr-1;
  margin: 25px 0 40px 0;
}

.calculator__result-price {
  color: $clr-4;
  margin-top: 25px;
  font-size: 2.8rem;
  @media screen and (min-width: $scr-des) {
    font-size: 2.4rem;
    margin: 0 24px 0 17px;
  }
}

.calculator__content-summary {
  line-height: 25px;
  margin: 60px 0;
  @media screen and (min-width: $scr-des) {
    margin: 90px 0 0;
  }
}
